/**
 * @author Harsh Patel @harsh2124
 */

@import '~bootstrap/scss/bootstrap';

.dark_theme {
    .MuiButton-containedPrimary {
        border: 1px solid var(--white) !important;
    }

    .MuiButton-containedPrimary:hover {
        background-color: var(--white) !important;
        color: var(--dark) !important;
        border: 1px solid rgba(52, 58, 64, 0.5) !important;
    }

    .MuiButton-outlinedPrimary:hover {
        background-color: var(--dark) !important;
        color: var(--white) !important;
    }
}
